
/*---- Menu buttons ----*/
.navbar.bg div#human-bar>#human_btn_holder>button,
.navbar.dark div#human-bar>#human_btn_holder>button,
.navbar.bg div#scent-bar>#scent_btn_holder>button,
.navbar.dark div#scent-bar>#scent_btn_holder>button,
.navbar.bg div#idea-bar>#idea_btn_holder>button,
.navbar.dark div#idea-bar>#idea_btn_holder>button,
.navbar.bg div#ltde-bar>#ltde_btn_holder>button,
.navbar.dark div#ltde-bar>#ltde_btn_holder>button,
.navbar.bg div#market-bar>#market_btn_holder>button,
.navbar.dark div#market-bar>#market_btn_holder>button,
.navbar.bg div#office-bar>#office_btn_holder>button,
.navbar.dark div#office-bar>#office_btn_holder>button    
{
    color: #000;
}
.navbar.bg div#human-bar>#human_btn_holder>button::after, 
.navbar.dark div#human-bar>#human_btn_holder>button::after, 
.navbar.bg div#scent-bar>#scent_btn_holder>button::after, 
.navbar.dark div#scent-bar>#scent_btn_holder>button::after,  
.navbar.bg div#idea-bar>#idea_btn_holder>button::after,
.navbar.dark div#idea-bar>#idea_btn_holder>button::after,
.navbar.bg div#ltde-bar>#ltde_btn_holder>button::after,
.navbar.dark div#ltde-bar>#ltde_btn_holder>button::after,
.navbar.bg div#market-bar>#market_btn_holder>button::after,
.navbar.dark div#market-bar>#market_btn_holder>button::after,
.navbar.bg div#office-bar>#office_btn_holder>button::after,
.navbar.dark div#office-bar>#office_btn_holder>button::after
{
    content:"";
    width:0%;
    height:2px;
    background:black;
    display:block;
    margin:auto;
    transition:0.5s;
} 
/*
.navbar.bg div#human-bar>#human_btn_holder>button:hover::after,
.navbar.dark div#human-bar>#human_btn_holder>button:hover::after,
.navbar.bg div#market-bar>#market_btn_holder>button:hover::after
.navbar.dark div#market-bar>#market_btn_holder>button:hover::after
{
    width:80px;
}

.navbar.bg div#office-bar>#office_btn_holder>button:hover::after
.navbar.dark div#office-bar>#office_btn_holder>button:hover::after
{
    width:70px;
}

.navbar.bg div#scent-bar>#scent_btn_holder>button:hover::after,
.navbar.dark div#scent-bar>#scent_btn_holder>button:hover::after,
.navbar.bg div#idea-bar>#idea_btn_holder>button:hover::after, 
.navbar.dark div#idea-bar>#idea_btn_holder>button:hover::after, 
.navbar.bg div#ltde-bar>#ltde_btn_holder>button:hover::after,
.navbar.dark div#ltde-bar>#ltde_btn_holder>button:hover::after
{
    width:60px;
}*/
.navbar.bg div#human-bar>#human_btn_holder>button:focus::after,
.navbar.dark div#human-bar>#human_btn_holder>button:focus::after,
.navbar.bg div#scent-bar>#scent_btn_holder>button:focus:after,
.navbar.dark div#scent-bar>#scent_btn_holder>button:focus:after,
.navbar.bg div#idea-bar>#idea_btn_holder>button:focus:after, 
.navbar.dark div#idea-bar>#idea_btn_holder>button:focus:after, 
.navbar.bg div#ltde-bar>#ltde_btn_holder>button:focus:after,
.navbar.dark div#ltde-bar>#ltde_btn_holder>button:focus:after,
.navbar.bg div#market-bar>#market_btn_holder>button:focus:after,
.navbar.dark div#market-bar>#market_btn_holder>button:focus:after
{
    width:70px;
}

.navbar.bg div#office-bar>#office_btn_holder>button:focus:after,
.navbar.dark div#office-bar>#office_btn_holder>button:focus:after
{
    width:60px;
}
.navbar.bg div#scent-bar>#scent_btn_holder>button:focus:after,
.navbar.dark div#scent-bar>#scent_btn_holder>button:focus:after
{
    width:50px;
}
.navbar.bg div#idea-bar>#idea_btn_holder>button:focus:after, 
.navbar.dark div#idea-bar>#idea_btn_holder>button:focus:after, 
.navbar.bg div#ltde-bar>#ltde_btn_holder>button:focus:after,
.navbar.dark div#ltde-bar>#ltde_btn_holder>button:focus:after
{
    width:50px;
}

.link.active, .link:hover, .navbar.bg .link:hover, .navbar.bg .link.active{
    opacity: 1;
}

.home-active {
    margin-top: 50px;
    margin-left: 250px;
}

.home-active a{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
}

.home-active:focus:after{
    content:"";
    width:0%;
    height:2px;
    background:white;
    display:block;
    margin:auto;
    transition:0.5s; 
}

.navbar.dark .home-active{
    margin-top: -60px;
    margin-left: 280px;
}

.navbar.bg .home-active a, .navbar.dark .home-active a{
    color:#000;
    text-transform: capitalize;
}

/* common properties for all menu buttons */
div#human-bar>#human_btn_holder,
div#scent-bar>#scent_btn_holder,
div#idea-bar>#idea_btn_holder,
div#ltde-bar>#ltde_btn_holder,
div#market-bar>#market_btn_holder,
div#office-bar>#office_btn_holder
{
    float:left;
    width:144px;
    height:46px;
}

div#human-bar>#human_btn_holder>button::after, 
div#scent-bar>#scent_btn_holder>button::after,  
div#idea-bar>#idea_btn_holder>button::after,
div#ltde-bar>#ltde_btn_holder>button::after,
div#market-bar>#market_btn_holder>button::after,
div#office-bar>#office_btn_holder>button::after
{
    content:"";
    width:0%;
    height:2px;
    background:white;
    display:block;
    margin:auto;
    transition:0.5s;
} 

div#human-bar>#human_btn_holder>button:focus::after,
div#market-bar>#market_btn_holder>button:focus:after
{
    width:70px;
}

div#office-bar>#office_btn_holder>button:focus:after
{
    width:70px;
}

div#scent-bar>#scent_btn_holder>button:focus:after,
div#idea-bar>#idea_btn_holder>button:focus:after, 
div#ltde-bar>#ltde_btn_holder>button:focus:after
{
    width:60px;
}

div#human-bar>#human_btn_holder>button,
div#scent-bar>#scent_btn_holder>button,
div#idea-bar>#idea_btn_holder>button,
div#ltde-bar>#ltde_btn_holder>button,
div#market-bar>#market_btn_holder>button,
div#office-bar>#office_btn_holder>button
{
    background:transparent;
    margin-left: 80px;
    color:#fff;
    position:absolute;
    top:50px;
    font-size:25px;
    width:60px;
    height:30px;
    border:none;
}

div#human-bar > #human_panel,
div#scent-bar > #scent_panel,
div#idea-bar > #idea_panel,
div#ltde-bar > #ltde_panel,
div#market-bar > #market_panel,
div#office-bar > #office_panel
{
    position:absolute;
    height:0px;
    width:1280px;
    top:110px;
    left:0px;
    border-radius:0px 0px 1px 1px;
    overflow:hidden;
    z-index:10000;
    transition:height 0.3s linear 0s;
}

div#human-bar>#human_panel>div,
div#scent-bar>#scent_panel>div,
div#idea-bar>#idea_panel>div,
div#ltde-bar>#ltde_panel>div,
div#market-bar>#market_panel>div,
div#office-bar>#office_panel>div
{
    /* doesn't affect menu' s height */
    position: absolute;
    width:1275px;
    margin-left:2px;
    margin-bottom:2px;
    color:black;
}

/* human menu button */
div#human-bar>#human_btn_holder>button{
    left:235px;
}

/* scent menu button */
div#scent-bar>#scent_btn_holder>button
{
    left:350px;      
}

/* idea menu button */ 
div#idea-bar>#idea_btn_holder>button
{
    left:450px;   
}

/* ltde menu button */
div#ltde-bar>#ltde_btn_holder>button
{
    left:540px;
}

/* market menu button */
  
div#market-bar>#market_btn_holder>button
{
    left:630px;
}

/* office menu button */
    
div#office-bar>#office_btn_holder>button
{
    left:750px;
}

/* panel properties */
.market_tabs{
    padding-top: 50px;
    position:absolute;
    top:80%; 
    left:50%;
    transform:translate(-50%,-5%);
    width:1280px;
    height:800px !important; 
    display: flex;
    overflow:hidden;
    background-color: #fff;
}

.market_tabs .tab-header{
    padding-top: 40px;
    padding-bottom: 30px;
}

.market_tabs .tab-header > div{
    width:150%;
    height:50px;
    padding-left: 100px;
    text-indent:20px;
    color:black;
    font-weight:600;
    font-size:20px;
    text-transform:uppercase;
    display: flex;
    align-items:center;
    cursor:pointer;
    transition:all 200ms ease-in-out;
    margin-top:40px;
}

.tab-header > div.active{
        font-weight:bold;
        color: #d5be8b;
}

/* the Underline function for each list text */
.tab-header>div::after{ 
    content:" ";
    background: #d5be8b;
    width:0%;
    height:2px;
    margin-top: 30px;
    margin-left: 10px;
    position: fixed;
    display:block;
    transition:0.2s;
}  

.tab-header>div.active::after{ 
    width: 65px;
}

.tab-header>.face::after{
    width:0%;
    transition:0.2s linear;
}

.tab-header>.face.active::after{
    width: 57px;
}

.tab-header>.feet::after
{
    width:0%;
    transition:0.2s linear;
}

.tab-header>.feet.active::after{
    width: 55px;
}

.col-1 ul li a.hand-lotion::after{
    content:"";
    width:0%;
    height:2px;
    background-color: #d5be8b;
    display:block;
    margin-right:100px;
    transition:0.2s;
}

 .col-1 ul li a.hand-lotion:hover::after{
    width:75px;
    margin-left: -10px;
}

.col-1 ul li a.hand-soap::after{
    content:"";
    width:0%;
    height:2px;
    background-color: #d5be8b;
    display:block;
    margin-right:100px;
    transition:0.2s;
}

 .col-1 ul li a.hand-soap:hover::after{
    width:55px;
    margin-left: -10px;
}

.col-1 ul li a.body-cleanser::after{
    content:"";
    width:0%;
    height:2px;
    background-color: #d5be8b;
    display:block;
    margin-right:100px;
    transition:0.1s;
}

 .col-1 ul li a.body-cleanser:hover::after{
    width:83px;
    margin-left:-5px;
}

.col-1 ul li a.body-oil::after{
    content:"";
    width:0%;
    height:2px;
    background-color: #d5be8b;
    display:block;
    margin-right:100px;
    transition:0.1s;
}

 .col-1 ul li a.body-oil:hover::after{
    width:35px;
    margin-left:-5px;
}

.col-1 ul li a.body-scrub::after{
    content:" ";
    width:0%;
    height:2px;
    background-color: #d5be8b;
    display:block;
    margin-right:100px;
    transition:0.1s;
}

 .col-1 ul li a.body-scrub:hover::after{
    content:" ";
    width:55px;
    margin-left:-5px;
}

.col-1 ul li a.body-protective::after{
    content:"";
    width:0%;
    height:2px;
    background-color: #d5be8b;
    display:block;
    margin-right:100px;
    transition:0.1s;
}

 .col-1 ul li a.body-protective:hover::after{
    content: " ";
    width:95px;
    margin-left:-5px;
}

.market_tabs .tab-content{
    flex:1;
    position:relative;
    padding-left: 200px;
}

.market_tabs .tab-content > div{
    position: absolute;
    height: 300px;
    top:-50vh;
    opacity:0;
    margin-left:100px;
}

.market_tabs .tab-content > div.active{  
    top:40px;
    left:0;
    opacity:1;
}

.col-1 img{
    width:670px;
    height:600px;
    left:350px;
    position:absolute;
    top:-20%;
}

.col-1 ul{
    width:350px;
    height:400px;
    position:relative;
}

.col-1 ul li{
    list-style:none;
    height: 80px;
    padding-top: 55px;
}

.col-1 ul li a{
    text-decoration:none;
    color:black;
    font-size:18px;
    margin-bottom:10px;
    text-transform:uppercase;
}

.col-1 ul li a:hover{
    color: #d5be8b;
    transition: 0.2s;
}

.col-1 ul li a::after{
    content:"";
    width:0%;
    height:2px;
    background-color: #d5be8b;
    display:block;
    margin-right:100px;
    transition:0.5s;
}

 .col-1 ul li a:hover::after{
    width:10%;
}

.col-1 ul li .sub_menu_2{
        position: absolute;
        background:#fff;
        width:100%;
        left:200px;
        top:0;
        display: flex;
        justify-content:space-around;
        line-height:24px;
        visibility:hidden;
}

.col-1 ul li:hover .sub_menu_2{
    visibility:visible;
}

.sub_menu_1 ul li .sub_menu_2 .col-2 img{
        height:550px;
        width:750px;
        transform: translate(10%, 10%);
        position:relative;
        background-blend-mode:normal;
}
/*--------------------------.tab-hand-------------*/

.tab-first .tab-hand-list > div{
    width:160%;
    height:65px;
    text-indent:20px;
    font-weight:600;
    font-size:15px;
    text-transform:uppercase;
    display: flex;
    align-items:center;
    border:none;
    cursor:pointer;
    transform:translate(-9%,-45%);
    transition:all 200ms ease-in-out;
}

.tab-first .tab-hand-list > div.active{
    border-bottom:2px solid black;
    size:30px;
}

.tab-first .tab-hand-image{
    padding:160px 70px;
    flex:1;
    transform:translate(80%,-70%);
    position:relative;
    visibility:hidden;
}

.tab_first .sub_menu_1{
        position: absolute;
        background:white;
        width:700px;
        height:400px;
        left:150px;
        top:0;
        display: flex;
        line-height:24px;
        visibility:hidden;
}

.sub_menu_1 .col-1 img{
    width:500px;
    height:300px;
    z-index:90;
    background-blend-mode:normal;
}

.tab-hand:hover .sub_menu_1{
    visibility:visible;
}

.col-1 ul{
    width:350px;
    height:400px;
    position:relative;
    top:0;
    left:10px;
    margin-left:40px;
    padding:0 40px;
}

.col-1 ul li .sub_menu_2{
        position: absolute;
        background:white;
        width:100%;
        left:200px;
        top:0;
        display: flex;
        justify-content:space-around;
        line-height:24px;
        visibility:hidden;
}

.col-1 ul li:hover .sub_menu_2{
    visibility:visible;
}

.sub_menu_1 ul li .sub_menu_2 .col-2 img{
        height:150px;
        width:700px;
        left:200px;
        position:relative;
        background-blend-mode:normal;
}

.tab-first:hover .tab-hand-image{
    visibility:visible;
}

.tab-first .tab-hand-image > div{
        position:absolute;
        top:10%;
        left:200px;
        opacity:0; 
}

.tab-first .tab-hand-image > div.active{
    top:0px;
    left:50px;
    opacity:1;
    transition:opacity 200ms ease-in-out 0ms,
               left 300ms ease-in-out 0ms,
               top 0ms ease-in-out 0ms;
}

.col-1 ul{
    width:350px;
    height:400px;
    position:relative;
    top:0;
    left:10px;
    margin-left:40px;
    padding:0 10px;
    background-color: #fff;
}

.col-1 ul li .sub_menu_2{
        position: absolute;
        background:#fff;
        width:100%;
        left:200px;
        top:0;
        display: flex;
        justify-content:space-around;
        line-height:24px;
        visibility:hidden;
}

.col-1 ul li:hover .sub_menu_2{
    visibility:visible;
}
 
.sub_menu_1 ul li .sub_menu_2 .col-2 img{
    height:600px;
    width:700px;
    left:200px;
    position:relative;
    background-blend-mode:normal;
}